* {
  box-sizing: border-box;
}

body{
background-color: #1446b6;

}

input {
  margin-left: 35%;
  width: 20%;
  height: 70px;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  color:#1446b6;

}

button {
  height: 70px;
  width: 10%;
  font-family: 'Khand', sans-serif;
  color:#1446b6;
  font-size:1rem;
}

h1{
  margin:0;
  font-size:4.5rem;
  font-family: 'Khand', sans-serif;
  color:white;
  text-align: center;
}
h3{
  font-size: 1.75rem;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  color:white;

}

ul {
  list-style: none;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:1.5rem;
  color:white;
}

p {
  margin:0;
  text-align: center;
  font-size:1.75rem;
  color:white;
  font-family: 'Khand', sans-serif;
}

#track-name{
  font-size: 1.5rem;
  color:white;
}
