.hidden{
    display: none;
  }
  
  body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4F5665;
    font-family:'Kufam';
  }
  
  h1{
    color: #FFF;
    font-size: 55px;
    text-align: center;
    margin-block-end: 0;
  }

  .logo{
    display: flex;
    width: 40%;
    margin: 0 auto;
  }
  
  .form{
    text-align: center;
  }
  
  #song{
    margin-right: 20px;
  }

  #artist{
    margin-right: 15px;
  }

  #song, #artist{
    height: 25px;
    margin-right: -4px;
  }

  #button{
    height: 31px;
    font-size: 13px;
    background: #162a3b;
    color: #569ad5;
    border: 3px solid #162a3b;
  }

  .media{
    background: #89898973;
    margin-top: 40px;
    border-radius: 10px;
    border: 3px solid #9285854d;
    padding: 8px;
  }
  
  audio, iframe{
    display: block;
    margin: 30px auto;
  }