/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 400px;
}
body{
  background-image: url(../img/MusicB.jpg);
  color: white;
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
