html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imgs/pileOfBooks.avif);
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

button {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
}


li {
    list-style: none;
    font-size: 2rem;
    background-color: rgb(255, 255, 255, 0.75);
    /* border: 1px solid black; */
    border-radius: 0.75rem;
    /* padding: 1rem; */
}