* {
  box-sizing: border-box;
}
body {
  color: white;
  background-image: url(Lizard.jpg);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section {
  position: absolute;
  left: 20%;
}
h1 {
  font-family: "Fjalla One", sans-serif;
}
p {
  font-family: "Playfair Display", serif;
}
h1,
h2 {
  text-align: center;
}
h2 {
  position: relative;
  top: 44px;
}
img {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 56px;
}
