/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* img{
  display: block;
  margin: 0 auto;
} */
body{
 background-image: url(https://media.giphy.com/media/3o7TKuSjgdu1PX3mSs/giphy.gif)
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
